@media (min-width: 992px) and (max-width: 1199.98px) {
    :root {
        --h1: 30px;
        --h2: 28px;
        --h3: 25px;
        --h4: 22px;
        --h5: 19px;
        --h6: 17px;
        --lg: 17px;
        --bs: 16px;
        --sm: 14px;
    }

    .banner-content {
        height: 560px;
    }

    .btm-shape {
        clip-path: polygon(50% 95%, 114% 0, 100% 100%, 0 100%, 0px 24px);
    }

    .service-card {
        padding: 12px 12px;
    }

    .service-card .icon img {
        width: 32px;
    }

    .service-card h3 {
        font-size: var(--h4);
    }

    .blog .blog-img img {
        height: 200px;
    }

    .blog-view .blog-img img {
        height: 440px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    :root {
        --h1: 28px;
        --h2: 26px;
        --h3: 24px;
        --h4: 21px;
        --h5: 18px;
        --h6: 17px;
        --lg: 17px;
        --bs: 15px;
        --sm: 14px;
    }

    .section-heading-space {
        margin-top: 32px;
    }

    .main-navbar .header-logo img {
        width: 220px;
    }

    .banner-content {
        height: 460px;
    }

    .btm-shape {
        clip-path: polygon(50% 95%, 126% 0, 100% 100%, 0 100%, 0px 40px);
    }

    .testimonial-card {
        margin: 0 12px;
        padding: 28px 48px;
    }

    .left-quotation-mark, .right-quotation-mark {
        font-size: 22px;
    }

    .client-details img {
        width: 60px;
    }

    .bttn {
        padding: 8px 32px;
    }

    .blog-view .blog-img img {
        height: 340px;
    }
}

@media (max-width: 991.98px) {
    .top-header {
        display: none;
    }

    .main-navbar {
        padding: 12px 0;
    }

    .main-navbar .desktop.navigation-menu {
        display: none;
    }

    .main-navbar .solid-bar {
        display: block;
    }

    .banner-content .col-xxl-5 {
        display: none;
    }

    .banner-slide .slick-dots {
        display: none !important;
    }

    .service-card h3 {
        font-size: var(--h4);
    }

    .footer-logo img {
        width: 200px;
    }

    .testimonial-dots .slick-dots {
        margin-top: 12px;
    }

    .blog-view .col-xxl-3 {
        display: none;
    }

    .contact-card .d-flex {
        flex-wrap: wrap;
    }

    .contact-card .d-flex .w-40,
    .contact-card .d-flex .w-60 {
        width: 100%;
    }

    .contact-card .d-flex .w-40 {
        text-align: center;
    }

    .contact-card .heading {
        margin-bottom: 16px;
    }

    .contact-card .social {
        justify-content: center;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    :root {
        --h1: 25px;
        --h2: 23px;
        --h3: 22px;
        --h4: 20px;
        --h5: 17px;
        --h6: 16px;
        --lg: 16px;
        --bs: 15px;
        --sm: 14px;
    }

    .section-spacing {
        padding: 24px 0;
    }

    .blog.section-spacing {
        padding: 24px 0;
    }

    .section-heading-space {
        margin-top: 24px;
    }

    .section-heading h2::after {
        border-top: 16px solid var(--primary_color);
        border-right: 16px solid transparent;
    }

    .page-breadcrumb {
        padding: 24px 0;
    }

    .main-navbar .header-logo img {
        width: 200px;
    }

    .banner-content {
        height: 400px;
    }

    .banner-content p {
        margin: 8px 0 16px;
        font-size: var(--lg);
    }

    .btm-shape {
        clip-path: polygon(50% 95%, 140% 0, 100% 100%, 0 100%, 0px 50px);
    }

    .service-card {
        padding: 12px 12px;
    }

    .services a {
        margin-top: 40px;
    }

    .service-card .icon img {
        width: 28px;
    }

    .service-card h3 {
        padding-top: 28px;
    }

    .service-card p {
        padding-top: 2px;
        padding-bottom: 4px;
    }

    .testimonial-card {
        margin: 0 12px;
        padding: 28px 48px;
    }

    .left-quotation-mark, .right-quotation-mark {
        font-size: 22px;
    }

    .client-details img {
        width: 48px;
    }

    .bttn {
        padding: 8px 32px;
    }

    .blog-view .blog-img img {
        height: 340px;
    }

    .page-action {
        padding: 16px 0;
    }

    .page-action .title {
        font-size: var(--h4);
    }

    .page-action .sub-title {
        font-size: var(--h6);
    }

    .page-footer nav li {
        width: 33%;
    }

    .page-footer .social {
        justify-content: center;
    }

    .page-footer .col-md-4:nth-child(1) {
        order: 2;
        text-align: center;
    }

    .page-footer .col-md-4:nth-child(2) {
        order: 3;
        margin-top: 12px;
        display: none;
    }

    .page-footer .col-md-4:nth-child(3) {
        text-align: center;
    }

    .footer-logo {
        display: none;
    }

    .page-footer h4 {
        margin: 0px 0 8px;
    }

    .page-footer .address {
        margin-top: 0;
    }

    .service-page-content .col-md-5 {
        display: none;
    }

    .about-content {
        margin-top: 16px;
    }

    .about .section-heading-space {
        margin-top: 20px;
    }

    .blog .blog-img img {
        height: 300px;
    }

    .btt i {
        height: 40px;
        width: 40px;
        line-height: 40px;
    }
}

@media (max-width: 575.98px) {
    :root {
        --h1: 24px;
        --h2: 22px;
        --h3: 21px;
        --h4: 19px;
        --h5: 17px;
        --h6: 16px;
        --lg: 16px;
        --bs: 15px;
        --sm: 14px;
    }

    .section-spacing {
        padding: 24px 0;
    }

    .blog.section-spacing {
        padding: 0 0 24px;
    }

    .section-heading-space {
        margin-top: 24px;
    }

    .section-heading h2::after {
        border-top: 16px solid var(--primary_color);
        border-right: 16px solid transparent;
    }

    .page-breadcrumb {
        padding: 24px 0;
    }

    #responsivemenu {
        width: 100%;
    }

    .main-navbar .header-logo img {
        width: 200px;
    }

    .banner-content {
        height: 380px;
    }

    .banner-content::before {
        clip-path: polygon(50% 100%, 100% 100%, 100% 100%, 0 100%, 0 100%);
    }

    .banner-content p {
        margin: 8px 0 16px;
        font-size: var(--lg);
    }

    .btm-shape {
        display: none;
    }

    .services .col-6 {
        padding: 0 4px;
    }

    .service-card {
        padding: 12px 4px;
    }

    .services a {
        margin-top: 40px;
    }

    .service-card .icon img {
        width: 22px;
    }

    .service-card .icon {
        padding: 8px;
    }

    .service-card h3 {
        padding-top: 16px;
        font-size: var(--h5);
    }

    .service-card p {
        padding-top: 2px;
        padding-bottom: 2px;
        font-size: var(--sm);
    }

    .testimonial-card {
        margin: 0 12px;
        padding: 20px 24px;
    }

    .left-quotation-mark, .right-quotation-mark {
        display: none;
    }

    .client-details img {
        width: 48px;
    }

    .bttn {
        padding: 8px 32px;
    }

    .blog-view .blog-img img {
        height: 340px;
    }

    .page-action {
        padding: 16px 0;
    }

    .page-action .title {
        font-size: var(--h4);
    }

    .page-action .sub-title {
        font-size: var(--h6);
    }

    .page-footer nav li {
        width: 33%;
    }

    .page-footer .social {
        justify-content: center;
    }

    .page-footer .col-md-4:nth-child(1) {
        order: 2;
        text-align: center;
    }

    .page-footer .col-md-4:nth-child(2) {
        order: 3;
        margin-top: 12px;
        display: none;
    }

    .page-footer .col-md-4:nth-child(3) {
        text-align: center;
    }

    .footer-logo {
        display: none;
    }

    .page-footer h4 {
        margin: 0px 0 8px;
    }

    .page-footer .address {
        margin-top: 0;
    }

    .service-page-content .col-md-5 {
        display: none;
    }

    .about-content {
        margin-top: 16px;
    }

    .about .section-heading-space {
        margin-top: 20px;
    }

    .blog .blog-img img {
        height: 280px;
    }

    .btt i {
        height: 40px;
        width: 40px;
        line-height: 40px;
    }

    .contact-card {
        padding: 16px 16px;
    }

    .copyright {
        padding: 8px 0;
    }
}